services:
  backend:
    build: .
    ports:
      - '4000:4000'
    environment:
      - PORT=4000
      - REDIS_HOST=redisDB
      - REDIS_PORT=6379
    depends_on:
      - redisDB

  redisDB:
    image: redis:latest
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data

volumes:
  redis-data: